.canvas
{
    position: relative;

    width: 500px;
    height: 380px;
    margin: 80px 0 0;

    transition: .3s ease;

    perspective: 800px;
    transform-style: preserve-3d;
}

.canvas:hover
{
    transform: rotateX(-20deg) rotateY(-40deg);
}

.box_top
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: skyblue;
    animation: time-change-top 50s linear infinite;
    transform: rotateX(-90deg);
    transform-origin: top;
}

@keyframes time-change-top
{
    0%
    {
        background: skyblue;
    }
    20%, 55%
    {
        background: darkslateblue;
    }
}

.box_side
{
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;
    animation: time-change 50s linear infinite;
    transform: rotateY(-90deg);
    transform-origin: right;
}

.box_front
{
    position: relative;

    overflow: hidden;

    width: 500px;
    height: 380px;

    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;

    animation: time-change 50s linear infinite;
}

@keyframes time-change
{
    0%
    {
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }
    20%
    {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }
    55%
    {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
    }
}

/*TODO
Цвета неба задаются следующими свойствами:
    День:
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    Вечер:
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    Ночь:
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;

Нужно реализовать плавный переход между ними и зациклить его.
*/

.ship::after
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100px;
    height: 20px;

    content: '';

    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before
{
    position: absolute;
    top: 0;
    left: 10px;

    width: 65px;
    height: 16px;

    content: '';

    border-radius: 20px 0 0;
    background: #fff;
}

.ship
{
    position: absolute;
    right: 0px;
    bottom: 30px;

    width: 100px;
    height: 36px;

    animation: ship-move 50s infinite;
}

@keyframes ship-move
{
    from
    {
        transform: translateX(100px);
    }
    to
    {
        transform: translateX(-700px);
    }
}

.ship_smokestack
{
    position: absolute;
    bottom: 36px;
    left: 45px;

    width: 10px;
    height: 17px;

    background: #a18e6e;
}

.ship_window
{
    position: absolute;
    top: 6px;
    left: 40px;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div
{
    position: absolute;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #fff;
}

.smoke-1
{
    top: -25px;
    right: 44px;
    animation: smoke-animation 5s infinite 3s;
}

.smoke-2
{
    top: -25px;
    right: 42px;
    animation: smoke-animation 3s infinite;
}

.smoke-3
{
    top: -25px;
    right: 49px;
    animation: smoke-animation 4s infinite 2s;
}

@keyframes smoke-animation
{
    from
    {
        top: -25px;
        transform: scale(1);
        opacity: 1;
    }
    to
    {
        top: -50px;
        transform: scale(1.5);
        opacity: 0;
    }
}

.sun
{
    position: absolute;
    top: 30px;
    right: 50%;

    width: 80px;
    height: 80px;

    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;

    animation: sun-rotate 20s linear infinite;
}

@keyframes sun-rotate
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(359deg);
    }
}

.sun-wrapper
{
    position: absolute;

    width: 100%;
    height: 100%;

    transform-origin: bottom center;
    animation: sun-rotate 50s linear infinite;
}

.sun div
{
    position: absolute;
    top: -20px;
    left: 50%;

    width: 2px;
    height: 100px;
    margin-left: -1px;

    border: solid #ffcf11;
    border-width: 10px 0;
}

.sun div:nth-child(2)
{
    transform: rotate(18deg);
}

.sun div:nth-child(3)
{
    transform: rotate(36deg);
}

.sun div:nth-child(4)
{
    transform: rotate(54deg);
}

.sun div:nth-child(5)
{
    transform: rotate(72deg);
}

.sun div:nth-child(6)
{
    transform: rotate(90deg);
}

.sun div:nth-child(7)
{
    transform: rotate(-18deg);
}

.sun div:nth-child(8)
{
    transform: rotate(-36deg);
}

.sun div:nth-child(9)
{
    transform: rotate(-54deg);
}

.sun div:nth-child(10)
{
    transform: rotate(-72deg);
}

.cloud
{
    position: absolute;
    left: -180px;

    width: 200px;
    height: 60px;

    opacity: .8;
    border-radius: 200px;
    background: #fff;
}

.cloud:before,
.cloud:after
{
    position: absolute;
    top: -15px;
    left: 10px;

    width: 100px;
    height: 80px;

    content: '';

    border-radius: 100px;
    background: #fff;
}

.cloud:after
{
    top: -55px;
    right: 15px;
    left: auto;

    width: 120px;
    height: 120px;
}

.cloud-1
{
    top: 10px;
    animation: cloud-1-move 30s linear infinite;
}

@keyframes cloud-1-move
{
    from
    {
        transform: translateX(-50px) scale(.25);
    }
    to
    {
        transform: translateX(600px) scale(.25);
    }
}

.cloud-2
{
    top: 50px;
    animation: cloud-2-move 35s linear infinite;
}

@keyframes cloud-2-move
{
    from
    {
        transform: translateX(-100px) scale(-.4, .4);
    }
    to
    {
        transform: translateX(600px) scale(-.4, .4);
    }
}

.cloud-3
{
    top: 100px;
    animation: cloud-3-move 40s linear infinite;
}

@keyframes cloud-3-move
{
    from
    {
        transform: translateX(0px) scale(.5);
    }
    to
    {
        transform: translateX(600px) scale(.5);
    }
}

.cloud-4
{
    top: 170px;
    animation: cloud-4-move 45s linear infinite;
}

@keyframes cloud-4-move
{
    from
    {
        transform: translateX(-200px) scale(-.65, .65);
    }
    to
    {
        transform: translateX(600px) scale(-.65, .65);
    }
}

.sea
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 40px;

    opacity: .8;
    background: #2a94d6;
}

.sea::after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 10px;

    content: '';

    background: #1d7fbb;
}
