.canvas
{
    position: relative;

    width: 500px;
    height: 380px;
    margin: 80px 0 0;

    transition: .3s ease;

    perspective: 800px;
}

.canvas
{
    transform: translateX(60px);
    perspective-origin: right top;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.canvas:hover
{
    transform: translateX(60px) rotate3d(1, .5, -.1, -30deg);
}

.box_top,
.box_right
{
    position: absolute;
    background: skyblue;
    backface-visibility: hidden;
}

.box_top
{
    width: 100%;
    height: 70px;
    transform-origin: top;
    top: 0;
    transform: rotateX(90deg);
}

.box_right
{
    width: 70px;
    height: 380px;
    bottom: 0;
    right: 0;
    transform-origin: right;
    transform: rotateY(90deg);
}

.box_front
{
    transform: translateZ(70px);
}

.box_front
{
    position: relative;

    overflow: hidden;

    width: 500px;
    height: 380px;

    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;
}

.box_right,
.box_front
{
    animation: sky 100s linear 0s infinite;
}

.box_top
{
    animation: sky-color 100s linear 0s infinite;
}

@keyframes sky-color
{
    from
    {
        background: skyblue;
    }

    25%,
    50%
    {
        background: darkslateblue;
    }

    to
    {
        background: skyblue;
    }
}

@keyframes sky
{
    from
    {
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }

    25%
    {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }

    50%
    {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
    }

    to
    {
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }
}

.ship::after
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100px;
    height: 20px;

    content: '';

    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before
{
    position: absolute;
    top: 0;
    left: 10px;

    width: 65px;
    height: 16px;

    content: '';

    border-radius: 20px 0 0;
    background: #fff;
}

.ship
{
    position: absolute;
    right: 0;
    bottom: 30px;

    width: 100px;
    height: 36px;
}

.ship
{
    animation: ship 60s linear 0s infinite;
}

@keyframes ship
{
    from
    {
        right: -100px;
    }
    85%,
    to
    {
        right: 100%;
    }
}

.ship_smokestack
{
    position: absolute;
    bottom: 36px;
    left: 45px;

    width: 10px;
    height: 17px;

    background: #a18e6e;
}

.ship_window
{
    position: absolute;
    top: 6px;
    left: 40px;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div
{
    position: absolute;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #fff;
}

.smoke-1
{
    top: -25px;
    right: 44px;
}

.smoke-2
{
    top: -25px;
    right: 42px;
}

.smoke-3
{
    top: -25px;
    right: 49px;
}

.smoke-1,
.smoke-2,
.smoke-3
{
    animation: smoke 3s ease-out 0s infinite;
}

.smoke-2
{
    animation-delay: 1s;
}

.smoke-3
{
    animation-delay: 2s;
}

@keyframes smoke
{
    from
    {
        opacity: 1;
        width: 7px;
        height: 7px;
        top: -25px;
    }

    to
    {
        opacity: 0;
        width: 14px;
        height: 14px;
        top: -45px;
    }
}

.sun
{
    position: absolute;
    top: 30px;
    right: 50%;

    width: 80px;
    height: 80px;

    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;
}

.sun-wrapper
{
    position: absolute;

    width: 100%;
    height: 100%;

    transform-origin: bottom center;
}

.sun
{
    animation: rotate360 9s linear 0s infinite;
}

.sun-wrapper
{
    animation: rotate360 100s linear 0s infinite;
}

@keyframes rotate360
{
    to
    {
        transform: rotate(360deg);
    }
}

.sun div
{
    position: absolute;
    top: -20px;
    left: 50%;

    width: 2px;
    height: 100px;
    margin-left: -1px;

    border: solid #ffcf11;
    border-width: 10px 0;
}

.sun div:nth-child(2)
{
    transform: rotate(18deg);
}

.sun div:nth-child(3)
{
    transform: rotate(36deg);
}

.sun div:nth-child(4)
{
    transform: rotate(54deg);
}

.sun div:nth-child(5)
{
    transform: rotate(72deg);
}

.sun div:nth-child(6)
{
    transform: rotate(90deg);
}

.sun div:nth-child(7)
{
    transform: rotate(-18deg);
}

.sun div:nth-child(8)
{
    transform: rotate(-36deg);
}

.sun div:nth-child(9)
{
    transform: rotate(-54deg);
}

.sun div:nth-child(10)
{
    transform: rotate(-72deg);
}

.cloud
{
    position: absolute;
    left: -180px;

    width: 200px;
    height: 60px;

    opacity: .8;
    border-radius: 200px;
    background: #fff;
}

.cloud:before,
.cloud:after
{
    position: absolute;
    top: -15px;
    left: 10px;

    width: 100px;
    height: 80px;

    content: '';

    border-radius: 100px;
    background: #fff;
}

.cloud:after
{
    top: -55px;
    right: 15px;
    left: auto;

    width: 120px;
    height: 120px;
}

.cloud-1
{
    top: 10px;
    transform: scale(.3, .3);
}

.cloud-2
{
    top: 50px;
    transform: scale(-.4, .4);

}

.cloud-3
{
    top: 100px;
    transform: scale(.5, .5);
}

.cloud-4
{
    top: 170px;
    transform: scale(-.6, .6);

}

.cloud
{
    animation-name: cloud;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.cloud-1
{
    animation-duration: 70s;
}

.cloud-2
{
    animation-duration: 55s;
    animation-delay: 15s;
}

.cloud-3
{
    animation-duration: 40s;
}

.cloud-4
{
    animation-duration: 25s;
    animation-delay: 10s;
}

@keyframes cloud
{
    from
    {
        left: -200px;
    }

    85%,
    to
    {
        left: 100%;
    }
}

.sea
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 40px;
    transform-style: preserve-3d;

    opacity: .8;
    background: #2a94d6;
}

.sea::after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 10px;

    content: '';

    background: #1d7fbb;
}
