.canvas
{
    position: relative;

    width: 500px;
    height: 380px;
    margin: 80px 0 0;
    white-space: nowrap;
    perspective: 800px;
    transform-style: preserve-3d;
    font-size: 0;

    transition: transform .3s ease;
}

.canvas:hover
{
    perspective-origin: 150% 50%;
    transform: rotateX(-20deg);
}

.box
{
    position: relative;
    overflow: hidden;
}

.box_up
{
    transform: rotateX(90deg);
    transform-origin: bottom;

    width: 500px;
    height: 100px;
}

.box_front
{
    display: inline-block;
    z-index: 3;

    width: 500px;
    height: 380px;
}

.box_right
{
    display: inline-block;
    transform-origin: left;

    width: 100px;
    height: 380px;
    transform: rotateY(90deg);
}

.sky
{
    position: absolute;
    
    width: 500px;
    height: 380px;

    background: linear-gradient(skyblue, darkslateblue);
    background-size: 300%;
    box-shadow: 0 -400px 300px -300px steelblue inset;

    animation: sky-transform 30s infinite;
}

/*TODO
Цвета неба задаются следующими свойствами:
    День:
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    Вечер:
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    Ночь:
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;

Нужно реализовать плавный переход между ними и зациклить его.
*/

.ship::after
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100px;
    height: 20px;

    content: '';

    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before
{
    position: absolute;
    top: 0;
    left: 10px;

    width: 65px;
    height: 16px;

    content: '';

    border-radius: 20px 0 0;
    background: #fff;
}

.ship
{
    position: absolute;
    right: -130px;
    bottom: 30px;

    width: 100px;
    height: 36px;

    animation: ship-move 15s infinite linear;
}

.ship_smokestack
{
    position: absolute;
    bottom: 36px;
    left: 45px;

    width: 10px;
    height: 17px;

    background: #a18e6e;
}

.ship_window
{
    position: absolute;
    top: 6px;
    left: 40px;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div
{
    position: absolute;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #fff;
    opacity: 1;
}

.smoke-1
{
    top: -25px;
    right: 44px;

    animation: smoke-move 2s infinite linear 1s;
}

.smoke-2
{
    top: -25px;
    right: 42px;

    animation: smoke-move 2s infinite linear .5s;
}

.smoke-3
{
    top: -25px;
    right: 49px;

    animation: smoke-move 2s infinite linear;
}

.sun
{
    position: absolute;
    top: 30px;
    right: 50%;

    width: 80px;
    height: 80px;

    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;

    animation: sun-rotation 8s linear infinite;
}

.sun-wrapper
{
    position: absolute;

    width: 100%;
    height: 100%;

    transform-origin: bottom center;

    animation: sun-move 30s linear infinite;
}

.sun div
{
    position: absolute;
    top: -20px;
    left: 50%;

    width: 2px;
    height: 100px;
    margin-left: -1px;

    border: solid #ffcf11;
    border-width: 10px 0;
}

.sun div:nth-child(2)
{
    transform: rotate(18deg);
}

.sun div:nth-child(3)
{
    transform: rotate(36deg);
}

.sun div:nth-child(4)
{
    transform: rotate(54deg);
}

.sun div:nth-child(5)
{
    transform: rotate(72deg);
}

.sun div:nth-child(6)
{
    transform: rotate(90deg);
}

.sun div:nth-child(7)
{
    transform: rotate(-18deg);
}

.sun div:nth-child(8)
{
    transform: rotate(-36deg);
}

.sun div:nth-child(9)
{
    transform: rotate(-54deg);
}

.sun div:nth-child(10)
{
    transform: rotate(-72deg);
}

.cloud
{
    position: absolute;
    left: -200px;

    width: 200px;
    height: 60px;

    opacity: .8;
    border-radius: 200px;
    background: #fff;
}

.cloud:before,
.cloud:after
{
    position: absolute;
    top: -15px;
    left: 10px;

    width: 100px;
    height: 80px;

    content: '';

    border-radius: 100px;
    background: #fff;
}

.cloud:after
{
    top: -55px;
    right: 15px;
    left: auto;

    width: 120px;
    height: 120px;
}

.cloud-1
{
    top: 10px;
    transform: scale(.5);

    animation: cloud-move 20s linear infinite 5s;
}

.cloud-2
{
    top: 50px;
    transform: scale(.7);
    
    animation: cloud-move 15s linear infinite 1s;
}

.cloud-3
{
    top: 100px;
    transform: scale(.9);

    animation: cloud-move 12s linear infinite 9s;
}

.cloud-4
{
    top: 170px;
    
    animation: cloud-move 10s linear infinite;
}

.sea
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 40px;

    opacity: .8;
    background: #2a94d6;
}

.sea::after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 10px;

    content: '';

    background: #1d7fbb;
}

/* animation */

@keyframes ship-move
{
    to
    {
        right: 565px;
    }
}

@keyframes smoke-move
{
    to
    {
        opacity: 0;
        top: -50px;
        width: 14px;
        height: 14px;
    }
}

@keyframes cloud-move
{
    to
    {
        left: 600px;
    }
}

@keyframes sun-move
{
    from
    {
        transform: rotate(0turn);
    }

    to
    {
        transform: rotate(1turn);
    }
}

@keyframes sun-rotation
{
    to
    {
        transform: rotate(0turn);
    }

    from
    {
        transform: rotate(1turn);
    }
}

@keyframes sky-transform
{
    0%
    {
        background-position: top;
    }

    50%,
    70%
    {
        background-position: bottom;
    }

    80%
    {
        background-position: top;
    }

    0%,
    15%
    {
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }

    25%
    {
        box-shadow: 0 -400px 300px -300px orangered inset;
    }

    45%
    {
        box-shadow: 0 -400px 300px -300px transparent inset;
    }

    80%
    {
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }
}
