.canvas
{
    position: relative;

    width: 500px;
    height: 380px;
    margin: 80px 0 0;

    transition: .3s ease;

    perspective: 800px;
}

.box_front
{
    position: relative;

    overflow: hidden;

    width: 500px;
    height: 380px;

    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;

    animation: gradient 90s linear infinite;
}

@keyframes gradient
{
    0%
    {
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }
    25%
    {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }
    50%
    {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
    }
}

.ship::after
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100px;
    height: 20px;

    content: '';

    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before
{
    position: absolute;
    top: 0;
    left: 10px;

    width: 65px;
    height: 16px;

    content: '';

    border-radius: 20px 0 0;
    background: #fff;
}

.ship
{
    position: absolute;
    right: 0;
    bottom: 30px;

    width: 100px;
    height: 36px;

    animation: shipMove 50s linear infinite;
}

@keyframes shipMove
{
    0%
    {
        transform: translateX(100px);
    }
    100%
    {
        transform: translateX(-1000px);
    }
}

.ship_smokestack
{
    position: absolute;
    bottom: 36px;
    left: 45px;

    width: 10px;
    height: 17px;

    background: #a18e6e;
}

.ship_window
{
    position: absolute;
    top: 6px;
    left: 40px;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div
{
    position: absolute;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #fff;
}

.smoke-1
{
    top: -25px;
    right: 44px;
    animation: smokeMove 2s ease infinite;
    animation-delay: 1s;
}

.smoke-2
{
    top: -25px;
    right: 42px;
    animation: smokeMove 2s ease infinite;
    animation-delay: .5s;
}

.smoke-3
{
    top: -25px;
    right: 49px;
    animation: smokeMove 2s ease infinite;
}

@keyframes smokeMove
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        transform: translateY(-10px);
        opacity: 0;
        width: 10px;
        height: 10px;
    }
}

.sun
{
    position: absolute;
    top: 30px;
    right: 50%;

    width: 80px;
    height: 80px;

    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;

    animation: sunLight 1s linear infinite;
}

@keyframes sunLight
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(18deg);
    }
}

.sun-wrapper
{
    position: absolute;

    width: 100%;
    height: 100%;

    transform-origin: bottom center;
    animation: sunMove 90s linear infinite;
}

@keyframes sunMove
{
    0%
    {
        transform: rotate(0deg) translateX(50px);
    }
    100%
    {
        transform: rotate(360deg) translateX(50px);
    }
}

.sun div
{
    position: absolute;
    top: -20px;
    left: 50%;

    width: 2px;
    height: 100px;
    margin-left: -1px;

    border: solid #ffcf11;
    border-width: 10px 0;
}

.sun div:nth-child(2)
{
    transform: rotate(18deg);
}

.sun div:nth-child(3)
{
    transform: rotate(36deg);
}

.sun div:nth-child(4)
{
    transform: rotate(54deg);
}

.sun div:nth-child(5)
{
    transform: rotate(72deg);
}

.sun div:nth-child(6)
{
    transform: rotate(90deg);
}

.sun div:nth-child(7)
{
    transform: rotate(-18deg);
}

.sun div:nth-child(8)
{
    transform: rotate(-36deg);
}

.sun div:nth-child(9)
{
    transform: rotate(-54deg);
}

.sun div:nth-child(10)
{
    transform: rotate(-72deg);
}

.cloud
{
    position: absolute;
    left: -180px;

    width: 200px;
    height: 60px;

    opacity: .8;
    border-radius: 200px;
    background: #fff;

    animation: cloudMove linear infinite;
}

.cloud:before,
.cloud:after
{
    position: absolute;
    top: -15px;
    left: 10px;

    width: 100px;
    height: 80px;

    content: '';

    border-radius: 100px;
    background: #fff;
}

.cloud:after
{
    top: -55px;
    right: 15px;
    left: auto;

    width: 120px;
    height: 120px;
}

.cloud-1
{
    top: 10px;
    transform: scale(.3, .3);
    animation-duration: 65s;
    animation-delay: 1s;
}

.cloud-2
{
    top: 50px;
    transform: scale(-.4, .4);
    animation-duration: 48s;
    animation-delay: 13s;
}

.cloud-3
{
    top: 100px;
    transform: scale(.5, .5);
    animation-duration: 33s;
}

.cloud-4
{
    top: 170px;
    transform: scale(-.8, .8);
    animation-duration: 35s;
    animation-delay: 2s;
}

@keyframes cloudMove
{
    0%
    {
        left: -300px;
    }
    100%
    {
        left: 1000px;
    }
}

.sea
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 40px;

    opacity: .8;
    background: #2a94d6;
}

.sea::after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 10px;

    content: '';

    background: #1d7fbb;
}
