.canvas
{
    position: relative;

    width: 500px;
    height: 380px;
    margin: 80px 0 0;

    transition: .3s ease;

    perspective: 2000px;
    transform-style: preserve-3d;
}

.canvas:hover
{
    transform: rotateX(-25deg) rotateY(-35deg);
}

@keyframes sky
{
    30%
    {
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }
    50%
    {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }
    70%
    {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
    }
    90%
    {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }
    to
    {
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }
}

@keyframes topsky
{
    30%
    {
        background: skyblue;
    }
    50%
    {
        background: darkslateblue;
    }
    90%
    {
        background: darkslateblue;
    }
    to
    {
        background: skyblue;
    }
}

.box_front
{
    position: relative;

    overflow: hidden;

    width: 500px;
    height: 380px;

    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;

    animation: sky 24s linear infinite 3s;
}

.box_top,
.box_right
{
    position: absolute;

    background: skyblue;

    animation: sky 24s linear infinite 3s;
}

.box_top
{
    top: 0;
    width: 500px;
    height: 150px;

    transform: rotateX(-90deg);
    transform-origin: top center;

    animation: topsky 24s infinite 3s;
}

.box_right
{
    right: 0;
    top: 0;
    height: 380px;
    width: 150px;

    transform: rotateY(-90deg);
    transform-origin: right center;
    box-shadow: 0 -400px 300px -300px steelblue inset;
}

.ship::after
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100px;
    height: 20px;

    content: '';

    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before
{
    position: absolute;
    top: 0;
    left: 10px;

    width: 65px;
    height: 16px;

    content: '';

    border-radius: 20px 0 0;
    background: #fff;
}

@keyframes sail
{
    to
    {
        right: 100%;
    }
}

.ship
{
    position: absolute;
    right: -100px;
    bottom: 30px;

    width: 100px;
    height: 36px;

    animation: sail 26s linear infinite;
}

.ship_smokestack
{
    position: absolute;
    bottom: 36px;
    left: 45px;

    width: 10px;
    height: 17px;

    background: #a18e6e;
}

.ship_window
{
    position: absolute;
    top: 6px;
    left: 40px;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div
{
    position: absolute;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #fff;
}

@keyframes puff
{
    0%
    {
        top: -25px;
        opacity: .7;
        transform: scale(1);
    }
    to
    {
        top: -50px;
        opacity: 0;
        transform: scale(2.5);
    }
}

.smoke-1
{
    top: -25px;
    right: 44px;

    animation: puff 2.5s ease infinite;
}

.smoke-2
{
    top: -25px;
    right: 42px;

    animation: puff 2.5s ease infinite 1s;
}

.smoke-3
{
    top: -25px;
    right: 49px;

    animation: puff 2.5s ease infinite 2s;
}

.sun
{
    position: absolute;
    bottom: 0;
    left: -105px;

    width: 80px;
    height: 80px;

    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;
}

@keyframes spin
{
    0%
    {
        transform: rotate(0turn);
    }
    to
    {
        transform: rotate(1turn);
    }
}

.sun-wrapper
{
    position: absolute;

    width: 100%;
    height: 100%;

    transform-origin: bottom center;
    animation: spin 24s linear infinite 3s;
}

.sun div
{
    position: absolute;
    top: -20px;
    left: 50%;

    width: 2px;
    height: 100px;
    margin-left: -1px;

    border: solid #ffcf11;
    border-width: 10px 0;

    transform-origin: center;
}

.sun div:nth-child(1)
{
    transform: rotate(18deg);
    animation: spin 10s linear infinite;
}

.sun div:nth-child(2)
{
    transform: rotate(18deg);
    animation: spin 10s linear infinite .5s;
}

.sun div:nth-child(3)
{
    transform: rotate(36deg);
    animation: spin 10s linear infinite 1s;
}

.sun div:nth-child(4)
{
    transform: rotate(54deg);
    animation: spin 10s linear infinite 1.5s;
}

.sun div:nth-child(5)
{
    transform: rotate(72deg);
    animation: spin 10s linear infinite 2s;
}

.sun div:nth-child(6)
{
    transform: rotate(90deg);
    animation: spin 10s linear infinite 2.5s;
}

.sun div:nth-child(7)
{
    transform: rotate(-18deg);
    animation: spin 10s linear infinite 3s;
}

.sun div:nth-child(8)
{
    transform: rotate(-36deg);
    animation: spin 10s linear infinite 3.5s;
}

.sun div:nth-child(9)
{
    transform: rotate(-54deg);
    animation: spin 10s linear infinite 4s;
}

.sun div:nth-child(10)
{
    transform: rotate(-72deg);
    animation: spin 10s linear infinite 4.5s;
}

.cloud
{
    position: absolute;
    left: -180px;

    width: 200px;
    height: 60px;

    opacity: .8;
    border-radius: 200px;
    background: #fff;
}

.cloud:before,
.cloud:after
{
    position: absolute;
    top: -15px;
    left: 10px;

    width: 100px;
    height: 80px;

    content: '';

    border-radius: 100px;
    background: #fff;
}

.cloud:after
{
    top: -55px;
    right: 15px;
    left: auto;

    width: 120px;
    height: 120px;
}

@keyframes soar
{
    0%
    {
        left: -300px;
    }
    to
    {
        left: 100%;
    }
}

.cloud-1
{
    top: 10px;
    animation: soar 14s linear infinite 6s;
    transform: scale(.5);
}

.cloud-2
{
    top: 50px;
    animation: soar 10s linear infinite 3s;
    transform: scale(.7);
}

.cloud-3
{
    top: 100px;
    animation: soar 18s linear infinite;
    transform: scale(.3);
    opacity: .5;
}

.cloud-4
{
    top: 170px;
    animation: soar 21s linear infinite 3s;
    transform: scale(.2);
    opacity: .6;
}

.sea
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 40px;

    opacity: .8;
    background: #2a94d6;
}

.sea::after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 10px;

    content: '';

    background: #1d7fbb;
}
