@keyframes cloud-move
{
    from
    {
        left: -200px;
    }
    to
    {
        left: 500px;
    }
}

@keyframes ship-move
{
    from
    {
        left: 600px;
    }
    to
    {
        left: -200px;
    }
}

@keyframes smoke-move
{
    from
    {
        top: -25px;
        transform: scale(.5);
        opacity: 1;
    }
    to
    {
        opacity: 0;
        transform: scale(2);
        top: -40px;
    }
}

@keyframes spin
{
    to
    {
        transform: rotate(1turn);
    }
}

@keyframes time-of-day
{
    0%,
    90%,
    100%
    {
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }
    30%
    {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }
    80%
    {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
    }
}

.canvas
{
    position: relative;
    width: 500px;
    height: 380px;
    margin: 80px 0 0;
    transition: .3s ease;
    perspective: 800px;
}

.box_front
{
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 380px;
    animation: time-of-day 90s linear infinite;
}

.ship::after
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 20px;
    content: '';
    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before
{
    position: absolute;
    top: 0;
    left: 10px;
    width: 65px;
    height: 16px;
    content: '';
    border-radius: 20px 0 0;
    background: #fff;
}

.ship
{
    position: absolute;
    right: 0;
    bottom: 30px;
    width: 100px;
    height: 36px;
    animation: ship-move 50s linear infinite;
}

.ship_smokestack
{
    position: absolute;
    bottom: 36px;
    left: 45px;
    width: 10px;
    height: 17px;
    background: #a18e6e;
}

.ship_window
{
    position: absolute;
    top: 6px;
    left: 40px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div
{
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
}

.smoke-1
{
    animation: smoke-move 1.75s ease infinite 1s;
    right: 44px;
}

.smoke-2
{

    animation: smoke-move 1.75s ease infinite;
    right: 42px;
}

.smoke-3
{

    animation: smoke-move 1.75s ease infinite 3s;
    right: 49px;
}

.sun
{
    position: absolute;
    top: 30px;
    right: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;
    animation: spin 10s linear infinite;
}

.sun-wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: bottom center;
    animation: spin 90s linear infinite;
}

.sun div
{
    position: absolute;
    top: -20px;
    left: 50%;
    width: 2px;
    height: 100px;
    margin-left: -1px;
    border: solid #ffcf11;
    border-width: 10px 0;
}

.sun div:nth-child(2)
{
    transform: rotate(18deg);
}

.sun div:nth-child(3)
{
    transform: rotate(36deg);
}

.sun div:nth-child(4)
{
    transform: rotate(54deg);
}

.sun div:nth-child(5)
{
    transform: rotate(72deg);
}

.sun div:nth-child(6)
{
    transform: rotate(90deg);
}

.sun div:nth-child(7)
{
    transform: rotate(-18deg);
}

.sun div:nth-child(8)
{
    transform: rotate(-36deg);
}

.sun div:nth-child(9)
{
    transform: rotate(-54deg);
}

.sun div:nth-child(10)
{
    transform: rotate(-72deg);
}

.cloud
{
    position: absolute;
    left: -180px;
    width: 200px;
    height: 60px;
    opacity: .8;
    border-radius: 200px;
    background: #fff;
    animation: cloud-move linear infinite;
}

.cloud:before,
.cloud:after
{
    position: absolute;
    top: -15px;
    left: 10px;
    width: 100px;
    height: 80px;
    content: '';
    border-radius: 100px;
    background: #fff;
}

.cloud:after
{
    top: -55px;
    right: 15px;
    left: auto;
    width: 120px;
    height: 120px;
}

.cloud-1
{
    animation-duration: 50s;
    transform: scale(.4);
    top: 10px;
}

.cloud-2
{
    animation-delay: 30s;
    animation-duration: 40s;
    transform: scale(-.5, .5);
    top: 50px;
}

.cloud-3
{
    animation-delay: 10s;
    animation-duration: 30s;
    transform: scale(.7);
    top: 100px;
}

.cloud-4
{
    animation-delay: 20s;
    animation-duration: 20s;
    transform: scale(-.8, .8);
    top: 170px;
}

.sea
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    opacity: .8;
    background: #2a94d6;
}

.sea::after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 10px;
    content: '';
    background: #1d7fbb;
}
