.canvas
{
    position: relative;

    width: 500px;
    height: 380px;
    margin: 80px 0 0;

    transition: .3s ease;

    perspective: 1600px;

    transform-style: preserve-3d;
}

.box_right
{
    position: absolute;
    visibility: hidden;

    right: -30px;
    top: 0;

    height: 380px;
    width: 100px;

    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;

    animation: gradient-animation 10s linear infinite;
}

.box_top
{
    position: absolute;
    visibility: hidden;

    top: -59px;
    left: -39.5px;

    width: 516px;
    height: 104px;

    background: skyblue;

    animation: top-animation 10s linear infinite;
}

.canvas:hover
{
    transform: rotateX(20deg) rotateY(20deg);
}

.canvas:hover .box_right
{
    visibility: visible;
    transform: rotateY(-90deg) translateZ(-19px) translateX(50px) translateY(0);
}

.canvas:hover .box_top
{
    visibility: visible;
    transform: rotateX(-90deg) translateZ(-19px) translateX(50px) translateY(0);
}

.box_front
{
    position: relative;

    overflow: hidden;

    width: 500px;
    height: 380px;

    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;

    animation: gradient-animation 10s linear infinite;
}

@keyframes gradient-animation
{
    33.3%
    {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }

    66.6%
    {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
    }
}

@keyframes top-animation
{
    33.3%,
    66.6%
    {
        background: darkslateblue;
    }
}

/*TODO

/*
Цвета неба задаются следующими свойствами:
    День:
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    Вечер:
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    Ночь:
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;

Нужно реализовать плавный переход между ними и зациклить его.
*/

.ship::after
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100px;
    height: 20px;

    content: '';

    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before
{
    position: absolute;
    top: 0;
    left: 10px;

    width: 65px;
    height: 16px;

    content: '';

    border-radius: 20px 0 0;
    background: #fff;
}

.ship
{
    position: absolute;
    right: 0;
    bottom: 30px;

    width: 100px;
    height: 36px;

    animation: ship-animation 30s linear infinite;
}

@keyframes ship-animation
{
    from
    {
        transform: translateX(120px);
    }

    50%,
    100%
    {
        transform: translateX(-500px);
    }
}

.ship_smokestack
{
    position: absolute;
    bottom: 36px;
    left: 45px;

    width: 10px;
    height: 17px;

    background: #a18e6e;
}

.ship_window
{
    position: absolute;
    top: 6px;
    left: 40px;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div
{
    position: absolute;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #fff;

}

@keyframes smoke-animation
{
    to
    {
        opacity: 0;
        transform: scale(1.7) translateY(-10px);
    }
}

.smoke-1
{
    top: -25px;
    right: 44px;
    animation: smoke-animation 2s infinite -1.2s;
}

.smoke-2
{
    top: -25px;
    right: 42px;
    animation: smoke-animation 2s infinite -1s;
}

.smoke-3
{
    top: -25px;
    right: 49px;
    animation: smoke-animation 2s infinite -.5s;
}

.sun
{
    position: absolute;
    top: 30px;
    right: 50%;

    width: 80px;
    height: 80px;

    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;

    animation: ray-animation 10s infinite linear;
}

.sun-wrapper
{
    position: absolute;

    width: 100%;
    height: 100%;

    transform-origin: bottom center;

    animation: sun-animation 10s infinite linear;
}

@keyframes ray-animation
{
    to
    {
        transform: rotate(1turn);
    }
}

@keyframes sun-animation
{
    to
    {
        transform: rotate(1turn);
    }
}

.sun div
{
    position: absolute;
    top: -20px;
    left: 50%;

    width: 2px;
    height: 100px;
    margin-left: -1px;

    border: solid #ffcf11;
    border-width: 10px 0;
}

.sun div:nth-child(2)
{
    transform: rotate(18deg);
}

.sun div:nth-child(3)
{
    transform: rotate(36deg);
}

.sun div:nth-child(4)
{
    transform: rotate(54deg);
}

.sun div:nth-child(5)
{
    transform: rotate(72deg);
}

.sun div:nth-child(6)
{
    transform: rotate(90deg);
}

.sun div:nth-child(7)
{
    transform: rotate(-18deg);
}

.sun div:nth-child(8)
{
    transform: rotate(-36deg);
}

.sun div:nth-child(9)
{
    transform: rotate(-54deg);
}

.sun div:nth-child(10)
{
    transform: rotate(-72deg);
}

.cloud
{
    position: absolute;
    left: -180px;

    width: 200px;
    height: 60px;

    opacity: .8;
    border-radius: 200px;
    background: #fff;
}

.cloud:before,
.cloud:after
{
    position: absolute;
    top: -15px;
    left: 10px;

    width: 100px;
    height: 80px;

    content: '';

    border-radius: 100px;
    background: #fff;
}

@keyframes cloud1-animation
{
    from
    {
        right: 0;
    }

    to
    {
        left: 520px;
    }
}

.cloud:after
{
    top: -55px;
    right: 15px;
    left: auto;

    width: 120px;
    height: 120px;
}

.cloud-1
{
    top: 10px;
    transform: scale(.3);
    animation: cloud1-animation 6s infinite linear;
}

.cloud-2
{
    top: 50px;
    transform: scale(.5) scaleX(-1);
    animation: cloud1-animation 7s infinite linear 1s;
}

.cloud-3
{
    top: 100px;
    transform: scale(.7);
    animation: cloud1-animation 9s infinite linear 2s;
}

.cloud-4
{
    top: 170px;
    transform: scaleX(-1);
    animation: cloud1-animation 10s infinite linear .2s;
}

.sea
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 40px;

    opacity: .8;
    background: #2a94d6;
}

.sea::after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 10px;

    content: '';

    background: #1d7fbb;
}
