.canvas
{
    position: relative;

    width: 500px;
    height: 380px;
    margin: 80px 0 0;

    transition: .3s ease;

    perspective: 1200px;
    perspective-origin: right top;
    transform-style: preserve-3d;
}

.canvas:hover
{
    transform: rotateX(-20deg) rotateY(-20deg);
}

.box_top,
.box_front
{
    width: 500px;
}

.box_top
{
    height: 100px;
    position: absolute;
    transform: rotateX(-90deg);
    transform-origin: top;

    animation: skyColor 20s linear infinite;
    animation-direction: alternate;
}

.box_side,
.box_front
{
    height: 380px;

    animation: skyGradient 20s linear infinite
        , skyColor 20s linear infinite;
    animation-direction: alternate;
}

.box_side
{
    width: 100px;
    position: absolute;
    right: 0;
    transform: rotateY(-90deg);
    transform-origin: right;
}

.box_front
{
    position: relative;
    overflow: hidden;
}

.box_front,
.box_side,
.box_top
{
    background: darkslateblue;
    box-shadow: 0 -400px 300px -300px transparent inset;
}

@keyframes skyColor
{
    15%
    {
        background: darkslateblue;
    }
    80%,
    100%
    {
        background: skyblue;
    }
}

@keyframes skyGradient
{
    15%
    {
        box-shadow: 0 -400px 300px -300px orangered inset;
    }
    80%,
    100%
    {
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }
}

/*TODO
Цвета неба задаются следующими свойствами:
    День:
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    Вечер:
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    Ночь:
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;

Нужно реализовать плавный переход между ними и зациклить его.
*/

.ship::after
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100px;
    height: 20px;

    content: '';

    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before
{
    position: absolute;
    top: 0;
    left: 10px;

    width: 65px;
    height: 16px;

    content: '';

    border-radius: 20px 0 0;
    background: #fff;
}

.ship
{
    position: absolute;
    right: 0;
    bottom: 30px;

    width: 100px;
    height: 36px;

    transform: translate(150px);
    animation: shipAnimation 40s linear infinite;
}

@keyframes shipAnimation
{
    to
    {
        transform: translate(-500px);
    }
}

.ship_smokestack
{
    position: absolute;
    bottom: 36px;
    left: 45px;

    width: 10px;
    height: 17px;

    background: #a18e6e;
}

.ship_window
{
    position: absolute;
    top: 6px;
    left: 40px;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div
{
    position: absolute;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #fff;
}

.smoke-1,
.smoke-2,
.smoke-3
{
    animation: smokeAnimation 4s ease-out infinite;
}

.smoke-1
{
    top: -25px;
    right: 44px;
    transform: scale(1.3);
    animation-delay: 1s;
}

.smoke-2
{
    top: -25px;
    right: 42px;
    transform: scale(.8);
    animation-delay: 3s;
}

.smoke-3
{
    top: -25px;
    right: 49px;
}

@keyframes smokeAnimation
{
    to
    {
        top: -40px;
        right: 38px;
        width: 12px;
        height: 14px;
        opacity: 0;
    }
}

.sun
{
    position: absolute;
    top: 30px;
    right: 50%;

    width: 80px;
    height: 80px;

    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;

    animation: sunRotation 20s linear infinite;
}

@keyframes sunRotation
{
    to
    {
        transform: rotate(360grad);
    }
}

.sun-wrapper
{
    position: absolute;

    width: 100%;
    height: 100%;

    transform-origin: bottom center;
    animation: sunTraversal 40s linear infinite;
}

@keyframes sunTraversal
{
    from
    {
        transform: rotate(-95grad);
    }
    to
    {
        transform: rotate(110grad);
    }
}

.sun div
{
    position: absolute;
    top: -20px;
    left: 50%;

    width: 2px;
    height: 100px;
    margin-left: -1px;

    border: solid #ffcf11;
    border-width: 10px 0;
}

.sun div:nth-child(2)
{
    transform: rotate(18deg);
}

.sun div:nth-child(3)
{
    transform: rotate(36deg);
}

.sun div:nth-child(4)
{
    transform: rotate(54deg);
}

.sun div:nth-child(5)
{
    transform: rotate(72deg);
}

.sun div:nth-child(6)
{
    transform: rotate(90deg);
}

.sun div:nth-child(7)
{
    transform: rotate(-18deg);
}

.sun div:nth-child(8)
{
    transform: rotate(-36deg);
}

.sun div:nth-child(9)
{
    transform: rotate(-54deg);
}

.sun div:nth-child(10)
{
    transform: rotate(-72deg);
}

.cloud
{
    position: absolute;
    left: -180px;

    width: 200px;
    height: 60px;

    opacity: .8;
    border-radius: 200px;
    background: #fff;

    animation-name: cloudAnimation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.cloud:before,
.cloud:after
{
    position: absolute;
    top: -15px;
    left: 10px;

    width: 100px;
    height: 80px;

    content: '';

    border-radius: 100px;
    background: #fff;
}

.cloud:after
{
    top: -55px;
    right: 15px;
    left: auto;

    width: 120px;
    height: 120px;
}

.cloud-1
{
    top: 10px;
    transform: scale(.2);

    animation-duration: 60s;
}

.cloud-2
{
    top: 50px;
    transform: scale(-.6, .6);

    animation-duration: 35s;
    animation-delay: 20s;
}

.cloud-3
{
    top: 100px;
    transform: scale(.5);

    animation-duration: 40s;
}

.cloud-4
{
    top: 170px;
    transform: translate(-50px) scale(-.9, .9);

    animation-duration: 30s;
    animation-delay: 15s;
}

@keyframes cloudAnimation
{
    to
    {
        left: 100%;
    }
}

.sea
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 40px;

    opacity: .8;
    background: #2a94d6;
}

.sea::after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 10px;

    content: '';

    background: #1d7fbb;
}
