.canvas
{
    position: relative;

    width: 500px;
    height: 380px;
    margin: 80px 0 0;

    transition: .3s ease;

    perspective: 800px;
    perspective-origin: top right;
    transform-style: preserve-3d;
}

.canvas:hover
{
    transition: 1s;
    transform: rotateX(-20deg) rotateY(-20deg);
}

.box_front
{
    position: relative;

    overflow: hidden;

    width: 500px;
    height: 380px;

    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;

    animation: box-animation 30s linear infinite;
}

.box_top
{
    position: absolute;
    bottom: 100%;

    width: 500px;
    height: 100px;

    background: skyblue;
    transform: rotateX(90deg);
    transform-origin: bottom;

    animation: box-top-animation 30s linear infinite;
}

.box_right
{
    position: absolute;
    left: 100%;

    width: 100px;
    height: 380px;

    background: skyblue;
    transform: rotateY(90deg);
    transform-origin: left;

    animation: box-animation 30s linear infinite;
}

@keyframes box-animation
{
    20%,
    30%
    {
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }
    45%
    {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }
    60%
    {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
    }
}

@keyframes box-top-animation
{
    20%,
    30%
    {
        background: skyblue;
    }
    45%,
    60%
    {
        background: darkslateblue;
    }
}

/*TODO
Цвета неба задаются следующими свойствами:
    День:
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    Вечер:
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    Ночь:
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;

Нужно реализовать плавный переход между ними и зациклить его.
*/

.ship::after
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100px;
    height: 20px;

    content: '';

    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before
{
    position: absolute;
    top: 0;
    left: 10px;

    width: 65px;
    height: 16px;

    content: '';

    border-radius: 20px 0 0;
    background: #fff;
}

.ship
{
    position: absolute;
    right: -100px;
    bottom: 30px;

    width: 100px;
    height: 36px;

    animation: shipMove 35s linear infinite;
}

@keyframes shipMove 
{
    from
    {
        transform: translateX(0);
    }
    to
    {
        transform: translateX(-600px);
    }
}

.ship_smokestack
{
    position: absolute;
    bottom: 36px;
    left: 45px;

    width: 10px;
    height: 17px;

    background: #a18e6e;
}

.ship_window
{
    position: absolute;
    top: 6px;
    left: 40px;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div
{
    position: absolute;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #fff;

    opacity: 0;
}

.smoke-1
{
    top: -25px;
    right: 44px;
    animation: smokeMove 2s linear infinite .3s;
}

.smoke-2
{
    top: -25px;
    right: 42px;
    animation: smokeMove 2s linear infinite 1s;
}

.smoke-3
{
    top: -25px;
    right: 49px;
    animation: smokeMove 2s linear infinite .6s;
}

@keyframes smokeMove 
{
    from
    {
        transform: translateY(0);
        opacity: 1;
    }
    50%
    {
        opacity: .5;
    }
    to
    {
        transform: translateY(-20px) scale(1.5);
        opacity: .1;
    }
}

.sun
{
    position: absolute;
    top: 30px;
    right: 50%;

    width: 80px;
    height: 80px;

    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;
    animation: sunRotate linear 10s infinite;
}

@keyframes sunRotate 
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}

.sun-wrapper
{
    position: absolute;

    width: 100%;
    height: 100%;

    top: 300px;
    left: 8%;

    transform-origin: bottom center;

    animation: rot linear 30s infinite;
}

@keyframes rot 
{
    from
    {
        transform: rotate(0deg) translate(-310px) rotate(0deg);
    }
    to
    {
        transform: rotate(360deg) translate(-310px) rotate(-360deg);
    }
}

.sun div
{
    position: absolute;
    top: -20px;
    left: 50%;

    width: 2px;
    height: 100px;
    margin-left: -1px;

    border: solid #ffcf11;
    border-width: 10px 0;
}

.sun div:nth-child(2)
{
    transform: rotate(18deg);
}

.sun div:nth-child(3)
{
    transform: rotate(36deg);
}

.sun div:nth-child(4)
{
    transform: rotate(54deg);
}

.sun div:nth-child(5)
{
    transform: rotate(72deg);
}

.sun div:nth-child(6)
{
    transform: rotate(90deg);
}

.sun div:nth-child(7)
{
    transform: rotate(-18deg);
}

.sun div:nth-child(8)
{
    transform: rotate(-36deg);
}

.sun div:nth-child(9)
{
    transform: rotate(-54deg);
}

.sun div:nth-child(10)
{
    transform: rotate(-72deg);
}

.cloud
{
    position: absolute;
    left: -180px;

    width: 200px;
    height: 60px;

    opacity: .8;
    border-radius: 200px;
    background: #fff;
}

.cloud:before,
.cloud:after
{
    position: absolute;
    top: -15px;
    left: 10px;

    width: 100px;
    height: 80px;

    content: '';

    border-radius: 100px;
    background: #fff;
}

.cloud:after
{
    top: -55px;
    right: 15px;
    left: auto;

    width: 120px;
    height: 120px;
}

.cloud-1
{
    top: 10px;
    animation: cloud-1-Move 30s linear infinite;
}

@keyframes cloud-1-Move 
{
    from
    {
        transform: scale(.3) translateX(-200px);
    }
    to
    {
        transform: scale(.3) translateX(2500px);
    }
}

.cloud-2
{
    top: 50px;
    animation: cloud-2-Move 20s linear infinite;
}

@keyframes cloud-2-Move 
{
    from
    {
        transform: scale(-.4, .4) translateX(200px);
    }
    to
    {
        transform: scale(-.4, .4) translateX(-1600px);
    }
}

.cloud-3
{
    top: 100px;
    animation: cloud-3-Move 15s linear infinite;
}

@keyframes cloud-3-Move 
{
    from
    {
        transform: scale(.55) translateX(-200px);
    }
    to
    {
        transform: scale(.55) translateX(1200px);
    }
}

.cloud-4
{
    top: 170px;
    animation: cloud-4-Move 10s linear infinite;
}

@keyframes cloud-4-Move 
{
    from
    {
        transform: scale(-.7, .7) translateX(200px);
    }
    to
    {
        transform: scale(-.7, .7) translateX(-1000px);
    }
}

.sea
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 40px;

    opacity: .8;
    background: #2a94d6;
}

.sea::after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 10px;

    content: '';

    background: #1d7fbb;
}
