.canvas
{
    position: relative;

    width: 500px;
    height: 380px;
    margin: 80px 0 0;

    transition: .3s ease;

    perspective: 800px;
    perspective-origin: top right;
    transform-style: preserve-3d;
}

.canvas:hover
{
    transform: rotateX(-20deg) rotateY(-20deg);
}

@keyframes bg-animation
{
    0%,
    100%
    {
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }

    30%
    {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }

    60%
    {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
    }
}

@keyframes top-bg-animation
{
    0%,
    100%
    {
        background: skyblue;
    }

    30%
    {
        background: darkslateblue;
    }

    60%
    {
        background: darkslateblue;
    }
}

.box_front,
.box_right
{
    animation: bg-animation 100s linear infinite;
}

.box_top
{
    animation: top-bg-animation 100s linear infinite;
}

.box_front
{
    position: relative;

    overflow: hidden;

    width: 500px;
    height: 380px;

    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;
    perspective: 300px;
    perspective-origin: 0 10%;
}

.box_right
{
    position: absolute;
    left: 100%;
    top: 0;
    width: 60px;
    height: 100%;
    transform-origin: left center;
    transform: rotateY(90deg);
}

.box_top
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    transform-origin: bottom center;
    transform: translateY(-100%) rotateX(90deg);
}

.ship::after
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100px;
    height: 20px;

    content: '';

    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before
{
    position: absolute;
    top: 0;
    left: 10px;

    width: 65px;
    height: 16px;

    content: '';

    border-radius: 20px 0 0;
    background: #fff;
}

.ship
{
    position: absolute;
    right: -100px;
    bottom: 30px;

    width: 100px;
    height: 36px;
    animation: ship-move 60s linear infinite;
}

@keyframes ship-move
{
    to
    {
        transform: translateX(-700px);
    }
}

.ship_smokestack
{
    position: absolute;
    bottom: 36px;
    left: 45px;

    width: 10px;
    height: 17px;

    background: #a18e6e;
}

.ship_window
{
    position: absolute;
    top: 6px;
    left: 40px;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div
{
    position: absolute;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #fff;
    opacity: 0;
    animation: smoke-up 3s linear infinite;
}

@keyframes smoke-up
{
    0%
    {
        opacity: 1;
    }

    100%
    {
        opacity: 0;
        transform: translateY(-30px) scale(2.5);
    }
}

div.smoke-1
{
    top: -25px;
    right: 44px;
}

div.smoke-2
{
    top: -25px;
    right: 42px;
    animation-delay: 1s;
}

div.smoke-3
{
    top: -25px;
    right: 49px;
    animation-delay: 2s;
}

@keyframes rotation
{
    to
    {
        transform: rotate(1turn);
    }
}

.sun
{
    position: absolute;
    top: 30px;
    right: 50%;

    width: 80px;
    height: 80px;

    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;

    animation: rotation 20s linear infinite;
}

.sun-wrapper
{
    position: absolute;

    width: 100%;
    height: 100%;

    transform-origin: bottom center;
    animation: rotation 100s linear infinite;
}

.sun div
{
    position: absolute;
    top: -20px;
    left: 50%;

    width: 2px;
    height: 100px;
    margin-left: -1px;

    border: solid #ffcf11;
    border-width: 10px 0;
}

.sun div:nth-child(2)
{
    transform: rotate(18deg);
}

.sun div:nth-child(3)
{
    transform: rotate(36deg);
}

.sun div:nth-child(4)
{
    transform: rotate(54deg);
}

.sun div:nth-child(5)
{
    transform: rotate(72deg);
}

.sun div:nth-child(6)
{
    transform: rotate(90deg);
}

.sun div:nth-child(7)
{
    transform: rotate(-18deg);
}

.sun div:nth-child(8)
{
    transform: rotate(-36deg);
}

.sun div:nth-child(9)
{
    transform: rotate(-54deg);
}

.sun div:nth-child(10)
{
    transform: rotate(-72deg);
}

.cloud
{
    position: absolute;
    left: -300px;

    width: 200px;
    height: 60px;

    opacity: .8;
    border-radius: 200px;
    background: #fff;
}

.cloud:before,
.cloud:after
{
    position: absolute;
    top: -15px;
    left: 10px;

    width: 100px;
    height: 80px;

    content: '';

    border-radius: 100px;
    background: #fff;
}

.cloud:after
{
    top: -55px;
    right: 15px;
    left: auto;

    width: 120px;
    height: 120px;
}

@keyframes cloud1-move
{
    from
    {
        transform: translateZ(-800px);
    }
    to
    {
        transform: translateX(2150px) translateZ(-800px);
    }
}

@keyframes cloud2-move
{
    from
    {
        transform: translateZ(-500px) scaleX(-1);
    }
    to
    {
        transform: translateX(2150px) translateZ(-500px) scaleX(-1);
    }
}

@keyframes cloud3-move
{
    from
    {
        transform: translateZ(-300px);
    }
    to
    {
        transform: translateX(2150px) translateZ(-300px);
    }
}

@keyframes cloud4-move
{
    from
    {
        transform: translateZ(-150px) scaleX(-1);
    }
    to
    {
        transform: translateX(2150px) translateZ(-150px) scaleX(-1);
    }
}

.cloud-1
{
    top: 10px;
    animation: cloud1-move 30s linear 5s infinite;
}

.cloud-2
{
    top: 50px;
    animation: cloud2-move 30s linear 15s infinite;
}

.cloud-3
{
    top: 100px;
    animation: cloud3-move 30s linear infinite;
}

.cloud-4
{
    top: 170px;
    animation: cloud4-move 30s linear 10s infinite;
}

.sea
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 40px;

    opacity: .8;
    background: #2a94d6;
}

.sea::after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 10px;

    content: '';

    background: #1d7fbb;
}
